<%- include("partials/header") %>

            <div class="ui tertiary segment " style="margin-top:5em;">
                <h3 class="ui header"><%= memes.name%></h3>
                <p><%= memes.caption%></p>
                <img  class="ui centered medium image" class="ui medium rounded image" src="<%= memes.url %> ">
                <div class="btn">
                <a href='/'  class="ui purple button" >Home</a>
               </div>
            </div>
        
<%- include("partials/footer") %>